<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/gsdk.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <meta charset="UTF-8"/>
    <title>ColorFrontier - Home</title>
</head>
<body>

    <!-- NAVIGATION -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color: #fff;">ColorFrontier</a>
            </div>
            <div class="centermenu">
                <ul class="nav navbar-nav">
                    <a href="/register"><button class="btn btn-primary btn-fill"><b>Register</b></button></a>
                </ul>
            </div>
            <div style="float:right;">
                <a class="navbar-brand white-txt" href="/login">Log In</a>
            </div>
        </div>
    </nav>
    <!-- NAVIGATION END -->

    <!-- PICTURE BACKGROUND -->
    <div class="jumbotron picture-bg text-center">
        <h1 class="white-txt">DEMONSTRATE YOUR CREATIVE SKILLS</h1>
    </div>
    <!-- PICTURE BACKGROUND END-->


    <!-- CENTER MENU BAR -->
        <div class="black-bg">
            <div class="container text-center">
                <div class="col-sm-4">
                    <a href="/" class="navbar_link" style="color: #6f9ffb;">LATEST</a>
                </div>
                <div class="col-sm-4">
                    <a href="/best" class="navbar_link">BEST ON COLORFRONTIER</a>
                </div>
                <div class="col-sm-4">
                    <a href="/categories" class="navbar_link">CATEGORIES</a>
                </div>
            </div>
        </div>
    <!-- CENTER MENU BAR END-->

</body>
</html>