<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/gsdk.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <!-- NAVIGATION -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color: #fff;">ColorFrontier</a>
            </div>
            <div class="centermenu">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="navbar_link">Page 1</a></li>
                    <li><a href="#" class="navbar_link">Page 2</a></li>
                    <li><a href="#" class="navbar_link">Page 3</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- NAVIGATION END -->


    <!-- PICTURE BACKGROUND -->
    <div class="jumbotron picture-bg text-center">
        <h1 class="center_h1_white">DEMONSTRATE YOUR CREATIVE SKILLS</h1>
    </div>
    <!-- PICTURE BACKGROUND END-->

</body>
</html>