<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/gsdk.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Biryani:900" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="color: #fff;">ColorFrontier</a>
        </div>
    </div>
</nav>



<!-- PICTURE BACKGROUND -->
<div class="jumbotron register-bg text-center">
    <h1 class="white-txt" style="font-family: Biryani;">LOGIN TO YOUR ACCOUNT</h1>
</div>
<!-- PICTURE BACKGROUND END-->


<!-- CENTER MENU BAR -->
<div>
    <div class="jumbotron text-center" style="background: transparent;">
        <form class="form-horizontal" th:action="@{/}" th:object="${UserObject}" method="post">
            <fieldset>
                <div id="legend">
                    <legend class="">Login</legend>
                </div>
                <div class="control-group">
                    <!-- Username -->
                    <label class="control-label">Username</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" th:field="*{username}"/>
                    </div>
                </div>
                <hr/>
                <div class="control-group">
                    <!-- Password-->
                    <label class="control-label">Password</label>
                    <div class="controls">
                        <input type="password" class="input-xlarge" th:field="*{password}"/>
                    </div>
                </div>
                <hr/>
                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <input type="submit" class="btn btn-primary btn-fill" value="Login"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- CENTER MENU BAR END-->

</body>
</html>