<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>ColorFrontier - Categories</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>
    <link rel="stylesheet" href="css/gsdk.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>

    <!-- NAVIGATION -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color: #fff;">ColorFrontier</a>
            </div>
        </div>

        <div th:if="${LoggedUser.username == null}">
            <div class="centermenu">
                <ul class="nav navbar-nav">
                    <span class="white-txt" style="padding-right: 15px;">Hello, Guest</span>
                    <a href="/register"><button class="btn btn-primary btn-fill"><b>Register</b></button></a>
                </ul>
            </div>
            <div style="float:right;">
                <a class="navbar-brand white-txt" href="/login">Login</a>
            </div>
        </div>

        <div th:if="${LoggedUser != null} ? ${LoggedUser.username}">
            <div class="centermenu">
                <ul class="nav navbar-nav">
                    <br/>
                    <h6 class="white-txt" style="padding-right: 15px;" th:text=" 'Hello, ' + ${LoggedUser.username}"></h6>
                </ul>
            </div>
            <div style="float:right;">
                <div class="row">
                    <div class="col-sm-6">
                        <form th:action="@{/openDashboard}" method="post">
                            <br/>
                            <input type="submit" value="My Profile" style="
                            background-color: transparent;
                            color: white;
                            border: 0;
                            font-weight: bold;
                            font-size: 20px;
                            padding-right: 100px;"/>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form th:action="@{/logout}" method="post">
                            <br/>
                            <input type="submit" value="Logout" style="
                            background-color: transparent;
                            color: white;
                            border: 0;
                            font-weight: bold;
                            font-size: 20px;"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </nav>
    <!-- NAVIGATION END -->


    <!-- PICTURE BACKGROUND -->
    <div class="jumbotron picture-bg text-center">
        <h1 class="white-txt">EXPLORE PROJECTS</h1>
    </div>
    <!-- PICTURE BACKGROUND END-->


    <!-- CENTER MENU BAR -->
        <div class="black-bg">
            <div class="container text-center">
                <div class="col-sm-4">
                    <a href="/" class="navbar_link">LATEST</a>
                </div>
                <div class="col-sm-4">
                    <a href="/best" class="navbar_link">BEST ON COLORFRONTIER</a>
                </div>
                <div class="col-sm-4">
                    <a href="/categories" class="navbar_link" style="color: #6f9ffb;">CATEGORIES</a>
                </div>
            </div>
        </div>
    <!-- CENTER MENU BAR END-->


    	<div class="categories-section">
    		<div class="container">
    			<div class="row">
    				<div class="col-sm-4 c-card">
    					<a href="#/"><img src="img/Art_C.jpg" class="img-thumbnail"/></a>
    				</div>
    				<div class="col-sm-4 c-card">
    					<a href="#/"><img src="img/Film_C.jpeg" class="img-thumbnail"/></a>
    				</div>
    				<div class="col-sm-4 c-card">
    					<a href="#/"><img src="img/IT_C.jpeg" class="img-thumbnail"/></a>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-sm-4 c-card">
    					<a href="#/"><img src="img/Literature_C.jpeg" class="img-thumbnail"/></a>
    				</div>
    				<div class="col-sm-4 c-card">
    					<a href="#/"><img src="img/Music_C.jpg" class="img-thumbnail"/></a>
    				</div>
    				<div class="col-sm-4 c-card">
    					<a href="#/"><img src="img/Science_C.jpeg" class="img-thumbnail"/></a>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-sm-4 c-card">
    					<a href="#/"><img src="img/Sport_C.jpeg" class="img-thumbnail"/></a>
    				</div>
    			</div>
    		</div>
    	</div>

</body>
</html>