<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.css"/>
    <link rel="stylesheet" href="../css/flat-ui.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
</head>
<body style="overflow-x: hidden; background-color: rgb(249, 249, 249);">

<nav class="navbar navbar-default" style="position:relative; background: #2f4154;" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/" style="color: white;">ColorFrontier</a>
    </div>
    <div class="collapse navbar-collapse text-center" id="navbar-collapse-01">
        <a href="#/" th:if="${UserObject.username == null}" class="center-nav-txt white"><b>Hello, Guest</b></a>
        <a href="#/" th:if="${UserObject != null} ? ${UserObject.username}" class="center-nav-txt white" th:inline="text"><b>[[${UserObject.username}]]'s profile</b></a>
        <form class="navbar-form navbar-right" action="#" role="search">
            <div class="form-group">
                <a href="/register" th:if="${UserObject.username == null}" class="nav-link white"><b>Register</b></a>
                <a href="/login" th:if="${UserObject.username == null}" class="nav-link white" style="border:none;"><b>Login</b></a>
                <a href="/dashboard" th:if="${UserObject != null} ? ${UserObject.username}" class="nav-link white" style="border:none;"><b>My Profile</b></a>
                <a href="/logout" th:if="${UserObject != null} ? ${UserObject.username}" class="nav-link white" style="border:none;"><b>Logout</b></a>
            </div>
        </form>
    </div>
</nav><!-- /navbar -->


<div class="jumbotron" style="background: transparent;">

    <div class="row">
        <div class="col-sm-3 text-center shadow-card">
            <h4 th:text="${UserObject.username}"></h4>
            <h4 th:text="${UserObject.email}"></h4>
        </div>
        <div class="col-sm-8 text-center shadow-card" style="margin-left: 50px;">
            <div class="row">
                <div class="col-sm-4 divider-right">
                    <h6>Total Projects</h6>
                    <h4><b th:inline="text">[[${#lists.size(UserObject.projects)}]]</b></h4>
                </div>
                <div class="col-sm-4 divider-right">
                    <h6>Total Likes</h6>
                    <h4><b th:inline="text">[[${UserObject.totalLikes}]]</b></h4>
                </div>
                <div class="col-sm-4">
                    <h6>Total Views</h6>
                    <h4><b th:inline="text">[[${UserObject.totalViews}]]</b></h4>
                </div>
            </div>
            <hr/>
            <div th:if="${#lists.size(UserObject.projects) == 0}" style="margin-top: 100px;">
                <h4 th:inline="text">[[${UserObject.username}]]'s projects</h4>
                <h3 th:inline="text">[[${UserObject.username}]] doesn't have any project yet</h3>
                <a href="/addproject">
                    <button class="btn btn-primary btn-fill">
                        <b>Add a new project</b>
                    </button>
                </a>
                <br/>
                <br/>
                <h6 style="width: 90%;">
                    After publishing projects they will be displayed here. Just click on them to proceed to project's page to see comments, and how many people have viewed this project.
                </h6>
            </div>
            <div th:if="${#lists.size(UserObject.projects) != 0}">
                <div class="row">
                    <div th:each="project: ${UserObject.projects}">
                        <div class="col-sm-4 shadow-card" style="margin: 30px; padding-top: 20px; padding-bottom:20px;">
                            <a th:href="${'/'+project.name}"><h3 th:inline="text"><b>[[${project.name}]]</b></h3></a>
                            <a th:href="${'/'+project.name}"><h5 th:text="${project.short_description}"></h5></a>
                        </div>
                    </div>
                </div>
                <a href="/addproject">
                    <button class="btn btn-primary btn-fill" style="margin: 15px;">
                        <b>Add a new project</b>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>